body
{
    background: #eeeeee;
    text-align: center;
}
#body
{
    background: #ffffff;
    text-align: left;
    padding: 15px;
    border: solid 1px #cccccc;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}
.smallLink
{
    font-size: 0.8em;
}
.contentItem
{
    margin-left: 10px;
}
.talks-list li
{
    margin-bottom: 8px;
    line-height: 1.6;
}
.pub-list
{
    list-style-type: disc;
    padding-left: 16px;
    margin-left: 0;
}
.pub-list li
{
    margin-bottom: 16px;
    line-height: 1.5;
}

.pub-highlight
{
    color: #c00;
    font-size: 0.9em;
}
