<!DOCTYPE html>
<html lang="en">
    <head>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-4MTZG9B3D7"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-4MTZG9B3D7');
</script>
        <title>{{ page.title }} - Chen Luo</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="author" content="Chen Luo" />
        <link href="/css/bootstrap.css" rel="stylesheet" />
        <link href="/css/bootstrap-responsive.css" rel="stylesheet" />
        <link href="/css/main.css" rel="stylesheet" />
        <script src="/js/jquery.js"></script>
        <script src="/js/bootstrap.js"></script>
    </head>
    <body>
        <div class="container">
            <div class="span8 offset2">
                <div class="navbar navbar-fixed-top navbar-inverse" id="navbar">
                    <div class="navbar-inner">
                        <div class="container">
                            <a class="brand" href="/index.html">Chen Luo</a>
                            <ul class="nav">
                                <li><a href="/index.html">Home</a></li>
                                <li class="active"><a href="/blog/">Blog</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div id="body">
                    <div class="blog-post">
                        <h3>{{ page.title }}</h3>
                        <p class="blog-meta">{{ page.date | date: "%B %d, %Y" }} · Chen Luo</p>

                        {{ content }}

                        <br />
                        <p><a href="/blog/">&larr; All posts</a></p>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
